*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#main-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2B2E4A;
}
#calculator {
    height: 700px;
    width: 400px;
    background-color: #5d635e;
    border-radius: 20px;
    border: 1px ridge #565f58;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.25));
    box-shadow: inset  -4px -4px 10px rgba(0, 0, 0, 0.25);
}
#display {
    margin: 20px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #99a197;
    background-color: #c6cfc3;
    box-shadow: inset  2px 2px 10px rgba(0, 0, 0, 0.5);
}
